{% extends 'recondition/homepage.html' %}

{% block title %}
   Vehicle Sales Commision
{% endblock title %}


{% block pages %}
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="{%url 'recond:homepage'%}">Dashboard</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Commision</li>
    </ol>
{% endblock pages %}
    

{% block content %}
    <div class="container-fluid py-4">
        {% if messages %}
            {%for i in messages%}
                <div class="alert alert-light alert-dismissible fade show" role="alert">
                    {{i}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%endfor%}
        {% endif %}  
        <h5>Commision Sales</h5>
        <hr class="m-0 p-0">
        <p>Your Vehicle that gives Commision to Third Party</p>
        <hr>
        <form action="" method="post">
            <select name="vehicle" id="" class="form-control mb-2">
              
              {% for i in vehi  %}
                  <option value="{{i.id}}" class="form-control">{{i.name}}</option>
              {% endfor %}
                
            </select>
            <input class="form-control" type="number" name="rate" id="" placeholder="Commission in percentage">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary mt-2">
                Add Commision
            </button>
        </form>
        <div class="row">
            <div class="col-12">
              <div class="card">
                <h6 class="p-2">Total sales commision vehicle. </h6>
                <div class="card-body px-0 pb-2">
                  <div class="table-responsive p-2">
                    <table class="table align-items-center justify-content-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Vehicle Name</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Sold Status</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Rate</th>
                                                
                        </tr>
                      </thead>
                      <tbody>
                        
                        {% for i in commision  %}
                        <tr class="ps-2">
                            <td>
                              <h6 class="mb-0 text-sm">{{i.vehicle.name}}</h6>
                            </td>
                            <td>
                              <p class="text-sm font-weight-bold mb-0">
                              {% if i.vehicle.sold_status %}
                                 Sold
                              {%else%}
                                  Not Sold
                              {% endif %}
                                </p>
                            </td>
                            <td>
                              <span class="text-xs font-weight-bold text-danger" >{{i.rate}}%</span>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
   
{% endblock content %}
    
    