{% extends 'index.html' %}
{% load static %}
{% block title %}
    Password Reset Merorecondition.com
{% endblock title %}


{% block content %}
    <div class="row">
        <div class="col-12 col-md-5 m-auto mt-3">
            <div class="loginBox p-4 text-center">
                {% if messages %}
                {%for i in messages%}
                    <div class="alert alert-light alert-dismissible fade show" role="alert">
                        {{i}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {%endfor%}
                {% endif %}  
                <img src="{%static 'img/logo.png'%}" alt="Mero Recondition" srcset="" style="height:200px; width:80%">
                <hr class="p-0 m-0">
                <h3 class="p-2">Password Reset</h3>
                <hr class="p-0 m-0">
                <p>
                  {% if validlink %}
                  <h3>Change password</h3>
                  <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Change password</button>
                  </form>
                {% else %}
                  <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                  </p>
                {% endif %}
                
            </div>
        </div>
     
       
    </div>
{% endblock content %}
    
    