{% extends 'index.html' %}
{% load static %}
{% block title %}
    Password Reset Merorecondition.com
{% endblock title %}


{% block content %}
    <div class="row">
        <div class="col-12 col-md-5 m-auto mt-3">
            <div class="loginBox p-4 text-center">
                {% if messages %}
                {%for i in messages%}
                    <div class="alert alert-light alert-dismissible fade show" role="alert">
                        {{i}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {%endfor%}
                {% endif %}  
                <img src="{%static 'img/logo.png'%}" alt="Mero Recondition" srcset="" style="height:200px; width:80%">
                <hr class="p-0 m-0">
                <h3 class="p-2">Password Reset</h3>
                <hr class="p-0 m-0">
                <p> <p>
                    We've emailed you instructions for setting your password, if an account exists with the email you entered.
                    You should receive them shortly.
                  </p>
                  <p>
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                  </p>
                  <div class="text-center">
                    <a href="{%url 'recon:homepage'%}">
                        <button class="btn btn-outline-dark"> Back To Home </button> 
                    </a>
                   
                </div>
                
            </div>
            
        </div>
     
       
    </div>
{% endblock content %}
    
    