{% extends "index.html" %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="container">
    <style>
        input{
            height: 30px;
            width: 100%;
        }
    </style>
    <div class="row">
        <br>
        <div class="col-md-6 col-12 col-sm-6 m-auto">
            <br><br>
            <div class="white-b p-3" style="background-color: rgb(255, 255, 255);  box-shadow: 5px 10px 18px rgb(192, 192, 192);">
                <img src="{%static 'img/logo.png'%}" alt="Mero Recondition" srcset="" style="height:200px; width:80%">
                <hr class="p-0 m-0">
                <h5 class="text-center">Forgotten your password?</h5>
                <p class="text-center">Enter your e-mail address to obtain a new password.</p>
                <form action="." method="post">
                {{ form.as_p }}
                <button type="submit" value="Send e-mail" class="btn btn-outline-dark text-center">Send Email</button>
                {% csrf_token %}
                </form>
            </div>
            <br><br><br>
        </div>
    </div>
</div>

{% endblock %}