{% extends 'index.html' %}

{% block title %}
    About Mero Recondition
{% endblock title %}
    

{% block content %}
    <h5 class="text-center">About Us</h5>
    <hr>
    <div class="row">
        <div class="col-12 p-2">
            <div class="blogBoxs w-100">
                <p>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis consequuntur ex facere eveniet ea ab magni nisi voluptas porro excepturi dolores consequatur aut, officia est ad enim nihil tempora perspiciatis!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
    