{% extends 'index.html' %}
{% load static %}
{% block title %}
    About Mero Recondition
{% endblock title %}
    

{% block content %}
    <h5 class="text-center">About Us</h5>
    <hr>
    <div class="row">
        <div class="col-12 p-2">
            <div class="blogBoxs w-100">
               <div class="row">
                    <div class="col-md-3 col-12">
                        <img src="{%static 'img/logo.png'%}" alt="Mero Recondition" srcset="" style="height:200px; width:80%">
                    </div>
                    <div class="col-md-9 col-12">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ex cum autem sint nisi sit necessitatibus at adipisci eaque. Magnam, et recusandae non minus voluptates velit quo similique sapiente sit.</p>
                    </div>
               </div>
            </div>
        </div>
    </div>
{% endblock content %}
    