{% extends 'index.html' %}

{% block seo %}
    <meta name="description" content="{{recon.recondition_name}}" />    
    <meta name="{{recon.recondition_name}}" content="{{recon.recondition_name}}" />
    <meta name="keywords" content="{{recon.recondition_name}},Mero Recondition">
    <meta name="author" content="Mero Recondition">
    <meta property="og:title" content="{{recon.recondition_name}}" />
    <meta property="og:image" content="{{recon.profile_pic.url}}" />
    <meta property="og:image:alt" content="{{recon.recondition_name}}" />
    
{% endblock seo %}
{% block title %}
    {{recon.recondition_name}}
{% endblock title %}


{% block content %}
    <div class="row mt-3 topBox ps-2 pe-2 pt-4 pb-4">
        <div class="col-12 col-md-4">
            <div class="houseBox">
      
                <img src="{{recon.profile_pic.url}}" alt="{{recon.recondition_name}}" srcset="">
                
                <div class="p-2">
                    <h5 class="p-0 m-0">{{recon.recondition_name}}</h5>
                    <p class="p-0 m-0">
                        <i class="fa fa-location"></i>
                        {{recon.Temporary_address}}</p>
                    <small>
                        <i class="fa fa-phone"></i>
                        {{recon.number}}</small>
                    <br>
                    <a href="tel:{{recon.number}}">
                        <button class="btn btn-danger">
                            <i class="fa fa-phone"></i> Call
                        </button>
                    </a>
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa fa-location"></i>
                        Location in Map
                    </button>
                    <!-- Location Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">{{recon.recondition_name}}</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <iframe src = "https://maps.google.com/maps?q={{recon.long}},{{recon.lat}}&hl=es;z=14&amp;output=embed" width="100%" height="400"></iframe>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                           
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- Location Modal End -->
                </div>   
            </div>
        </div>
        <div class="col-12 col-md-8">
            <h5>Latest from {{recon.recondition_name}}</h5>
            <div class="row">
                {% for i in vehicle %}
                    <div class="col-12 col-md-4 pt-2">
                        <a href="{{i.get_absolute_url}}">
                            <div class="vehicleBox d-flex">
                                <img src="{{i.image.url}}" alt="{{i.name}}">
                                <div class="p-1">
                                    <p class="p-0 m-0">{{i.name|truncatewords:8}}</p>
                                    <h6 class="p-0 m-0">Rs.{{i.showing_price}}</h6>
                                    <small style="opacity:.8;">Ran: {{i.run_km}}</small>
                                    <small class="d-block" style="opacity:.8;">{{i.modal}} Modal</small>
                                </div>
                                
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <h5 class="text-center">Vechile from {{recon.recondition_name}}</h5>
        {% for i in all_vehicle  %}
        <div class="col-md-3 col-lg-2 col-6 pt-4">
            <a href="{{i.get_absolute_url}}">
                <div class="vBox">
                    <img src="{{i.image.url}}" alt="{{i.name}}">
                    <div class="p-1">
                        <p class="p-0 m-0">{{i.name|truncatewords:8}}</p>
                        <h6 class="p-0 m-0">Rs.{{i.showing_price}}</h6>
                        <small style="opacity:.8;">Ran: {{i.run_km}}</small>
                        <small class="d-block" style="opacity:.8;">{{i.modal}} Modal</small>
                    </div>
                </div>
            </a>
        </div>   
        {% endfor %}
            
    </div>

{% endblock content %}
    
    